<div class="block">
  <%= image_tag "braintree-logo.png" %>
</div>

<br/>
<div id="editor" class="well" style="padding:0"></div>
<button type="button">Run Code</button>
<div id="viewer" class="well" style="padding:0"></div>

<script>
  var temp = new RubyEval();
</script>
