<h1>Home#index</h1>

<%= image_tag "image.jpeg" %>
<br/>
<button type="button">Run Code</button>
<div id="editor" class="well" style="padding:0"></div>
<div id="viewer" class="well" style="padding:0"></div>
